@charset "UTF-8";
/*** 変数 ***/
// $bg: #efebea;
$color: #333;
$link-color: #009d8e;
$yellow: #ffb300;

/*** 共通部分 ***/
html,
body {
  height: 100%;
}
#home,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
  height: auto;
  /* (画像の高さ / 画像の横幅) × 100 */
  padding-top: calc((360 / 2000) / 100);
  background-image: url(/images/bg-footer.png);
  background-size: cover;
}
a {
  text-decoration: none;
  color: $link-color;
}
img {
  max-width: 100%;
}
.header-wrap,
nav,
.main-bg {
  text-align: center;
}
.main-bg {
  width: 100%;
  /* (画像の高さ / 画像の横幅) × 100 */
  padding-top: calc((360 / 2000) / 100);
  background-image: url(../images/bg-cover.png);
  background-size: cover;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 4%;
}
.content {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}
.main {
  width: 77%;
  h2 {
    color: $yellow;
  }
}
.side {
  width: 23%;
}
nav {
  ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 10px 30px;
    display: inline;
  }
  a {
    display: block;
    position: relative;
  }
  a::before,
  a::after {
    border-bottom: solid 3px $link-color;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width: 0;
  }
  a::before {
    left: 50%;
  }
  a::after {
    right: 50%;
  }
  a:hover::before,
  a:hover::after {
    width: 50%;
  }
}
tr {
  td {
    padding: 10px 20px;
    border-bottom: 1px solid gray;
  }
}
.no-wrap {
  white-space: nowrap;
}
button {
  width: 20%;
  background-color: $yellow;
  height: 50px;
}
.gr-box,
.f-but {
  color: #fff;
  // margin: 40px;
  // padding: 20px;
  text-align: center;
  word-wrap: break-all;
}
tr .gr-box {
  background-color: $link-color;
  margin: 5px;
  padding: 10px;
}
.flex-row {
  display: flex;
  justify-content: space-evenly;
}
