@charset "UTF-8";
/*** 変数 ***/
// $bg: #efebea;
$color: #333;
$link-color: #009d8e;
$h2-color: #ffb300;

/*** 共通部分 ***/
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.header-wrap {
  text-align: center;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 4%;
}
.main {
  width: 77%;
}
.side {
  width: 23%;
}
ul {
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    display: inline;
    a {
      position: relative;
      display: inline-block;
      color: $link-color;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      &::before,
      &::after {
        border-bottom: solid 2px $link-color;
        bottom: 0;
        content: "";
        display: block;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        width: 0;
      }
      &::before {
        left: 50%;
      }
      &::after {
        right: 50%;
      }

      &:hover {
        &::before,
        &::after {
          width: 20%;
        }
      }
    }
  }
}
