@charset "UTF-8";
/*** 変数 ***/
// $bg: #efebea;
$gray: #333;
$green: #009d8e;
$yellow: #ffb300;
$wte: #fff;

/*** 共通部分 ***/
html,
body {
  height: 100%;
}
#home,
body {
  display: flex;
  flex-direction: column;
}
footer {
  // margin: auto;
  text-align: center;
  width: 100%;
  // height: auto;
  /* (画像の高さ / 画像の横幅) × 100 */
  padding-top: calc((360 / 2000) / 100);
  background-image: url(/images/bg-footer.png);
  background-size: cover;
}
a {
  text-decoration: none;
  color: $green;
}
img {
  max-width: 100%;
}
.header-wrap,
nav,
.main-bg,
.btn-wrapper {
  text-align: center;
}
.main-bg {
  width: 100%;
  /* (画像の高さ / 画像の横幅) × 100 */
  padding-top: calc((360 / 2000) / 100);
  background-image: url(../images/bg-cover.png);
  background-size: cover;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 4%;
}
.content {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}
.main {
  width: 77%;
  h2 {
    color: $yellow;
  }
}
.side {
  width: 23%;
}
nav {
  ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 10px 30px;
    display: inline;
  }
  a {
    display: block;
    position: relative;
  }
  a::before,
  a::after {
    border-bottom: solid 3px $green;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width: 0;
  }
  a::before {
    left: 50%;
  }
  a::after {
    right: 50%;
  }
  a:hover::before,
  a:hover::after {
    width: 50%;
  }
}
tr {
  td {
    padding: 10px 20px;
    border-bottom: 1px solid $gray;
  }
}
.date {
  color: $gray;
}
.no-wrap {
  white-space: nowrap;
}
button {
  width: 20%;
  height: 50px;
}
.button {
  display: inline-block;
  text-align: center; /* 文字位置   */
  padding: 20px 40px;
  margin: 30px auto;
}

.wte-but {
  margin: 50px auto;
  background: $wte;
  border-color: $green;
}
.green {
  background: $wte; /* 背景色     */
  color: $green; /* 文字色     */
  border: 2px solid $green; /* 枠の指定 */
}
.yellow,
.gr-box,
.copy-r {
  color: $wte;
}
.yellow {
  background-color: $yellow;
  word-wrap: break-all;
}
.gr-box {
  background-color: $green;
  margin: 5px;
  padding: 10px;
}
.flex-row {
  display: flex;
  justify-content: space-evenly;
}
.copy-r {
  background: $gray;
}
