@charset "UTF-8";
/*** 変数 ***/
// $bg: #efebea;
$color: #333;
$link-color: #009d8e;
$h2-color: #ffb300;

/*** 共通部分 ***/
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.header-wrap {
  text-align: center;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 4%;
}
.main {
  width: 77%;
}
.side {
  width: 23%;
}
ul {
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    display: inline;
    a {
      display: inline-block;
      color: $link-color;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    &:hover {
      border-bottom-color: 2px solid $link-color;
    }
  }
}
